$primaryColor:   #027ccd;

.product {
  font-weight: bold;
  color: $primaryColor;
}

.holder {
  height: 60px;
  width: 60px;
  border: solid 1px #999;
  display: inline-block;
  background-color: white;
}

.box {
  box-sizing: border-box;
  height: 58px;
  width: 58px;
  position: relative;
  cursor: pointer;
}

input[type="color"] {
  -webkit-appearance: none;
  padding: 0;
	border: none;
	height: 49px;
  width: 49px;
  position: relative;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

code {
  display: block;
  max-height: 300px;
  overflow: scroll;
  background: #f9f8f8;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}